__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/

.DS_Store
._*
Thumbs.db

.vscode/
.idea/

logs/
results/
aligned_ligands/
best_conformers/
generated_ligands/
protein/prepared_protein_fixed.pdb
protein/prepared_protein.pdbqt

temp_out.pdbqt
test.pdb
test.pdbqt
initial_rdkit_conformers.sdf
final_generation.sdf
final_generation_scores.csv
final_scores_detailed.csv
docking_summary.csv
cleaned_protein.pdb
*.pdbqt

smina/
gnina*
bin/
*.pickle
